* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
}

#body1 {
    height: 50vh;
    width: 100vw;
}

#body {
    height: 50vh;
    width: 100vw;
}